.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.quote {
  text-align: center;
}

.quote {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.3rem;
  max-width: 500px;
  user-select: none;
}

.inputArea {
  margin-bottom: 3rem;
  height: 300px;
  width: 520px;
  resize: none;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.incorrectChar {
  color: red;
  text-decoration: underline;
}
.correctChar {
  color: darkgreen;
}